[% React.embed(c, 'static/scripts/relationship-editor-react/components/RelationshipEditorWrapper', {
  formName => form.name,
  seededRelationships => seeded_relationships,
  source => source_entity,
}) %]

[% script_manifest('relationship-editor.js', { 'async' => 'async' }) %]
